.delete-button {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    height: 35px;
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    touch-action: none; // Prevent any default touch actions

    .delete-icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgb(170, 170, 170);
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      opacity: 1;
      transition: all 0.2s ease;
      svg{
        width: 15px;
        height: 15px;
      }
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
      }
    }

    .touch-ripple {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.4);
      transform: scale(0);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;

      &.active {
        transform: scale(1.5);
        opacity: 0;
        transition: 0s;
      }
    }

    @media (hover: hover) {
      &:hover {
        .delete-icon {
          opacity: 0.8;
        }
      }
    }

    &:active {
      .delete-icon {
        opacity: 0.8;
        transform: scale(0.95);
      }
    }
  }
