.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  padding: 6px;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.globe-icon {
  position: relative;
  width: 20px;
  height: 20px;
  .icon-button {
    transition: opacity 0.2s;
    &:hover{
      opacity: 0.5;
    }
  }
}