$overlay-bg: rgba(0, 0, 0, 0.5);
$gray-medium: #888888;

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  background: transparent;
  border: none;
  cursor: pointer;
  color: $gray-medium;
  padding: 0.5rem;
  
  &:hover {
    background-color: $overlay-bg;
  }
}

.globe-icon {
  position: relative;
  width: 20px;
  height: 20px;
  .icon-button {
    transition: opacity 0.2s;
    &:hover{
      opacity: 0.5;
    }
  }
}