//HEADER
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

/*
.avatar {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
}

.user-name {
  margin-left: 10px;
}*/

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // By default (mobile), center section is hidden
    .theme-title {
      display: none;
      width: 0;
      padding: 0;
      margin: 0;
    }

    /*
    .center-section {
      display: none;
      width: 0;
      padding: 0;
      margin: 0;
    }*/
}

// Show center section from tablet up
// Responsive is defiened in HeaderNav.vue
@include responsive(tablet) {
  .header-container {

    .theme-title {
      display:inline;
      margin: 0;
      width: auto;
    }
    /*
    .center-section {
      display: block;
      width: auto;
      flex: 1;
      text-align: center;
      padding: 0 1rem;
      margin: 0;

      .theme-title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }*/
  }
}

@include responsive(desktop) {
  .header-container {

    .theme-title {
      display:inline;
      margin: 0;
      width: auto;
    }

    /*
    .center-section {
      display: block;
      width: auto;
      flex: 1;
      text-align: center;
      padding: 0 1rem;
      margin: 0;

      .theme-title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }*/
  }
}

  .left-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;

    .mindspace-name {
      font-size: 16px;
      font-weight: 500;
      font-weight: bold;
      color: #333;
    }

    .theme-title {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      margin: 0;
    }
  }

  .center-section {
    flex: 1;
    text-align: center;
  }

  .right-section {
    display: flex;
    gap: 12px;
    margin-right: 10px;
    .icon-button {
      padding: 6px;
      position: relative;
      & img {
        width: 20px;
        height: 20px;
      }
      & svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  // .notifications {
  //   position: relative;
  // }

  .notification-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
  }

// Dropdown styles

  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 10px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    color: #ff4a1d;
    text-align: left;
    transition: background-color 0.2s;
    border-radius: 8px;

    @media (hover: hover) {
      &:hover {
        background-color: #f5f5f5;
        color: #ff4011;
        text-shadow: 0px 0px 0px rgba(133, 0, 0, 0.4);
      }
    }

    &:active {
      background-color: #f5f5f5;
      color: #ff4011;
      text-shadow: 0px 0px 0px rgba(133, 0, 0, 0.4);
    }

  }
