.item-window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item-window {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: scroll;
    position: relative;
    
    
    .close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    .editBlock-button{
      position: absolute;
      top: 1rem;
      right: 3.5rem;
    }
  }
  
  .page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  // Include your existing styles here
  .block-wrapper {
      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid #e2e8f0;
      border-radius: 0.5rem;
  }
  
  .edit-textarea {
    width: 100%;
    min-height: 100px;
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    white-space: pre-wrap;
    resize: vertical;
  }
  
  /* Block-specific styles */
  .title-block {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .body-block {
    font-size: 1rem;
    line-height: 1.5;
  
      .todo-item {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.5rem 0;
      }
      
      p {
        white-space: pre-line; /* This preserves line breaks in the rendered text */
        word-wrap: break-word; /* This ensures long words don't overflow */
      }
  }
  
  .section-line {
    border: none;
    border-top: 2px solid #e2e8f0;
    margin: 1rem 0;
  }
  
  .image-block {
    margin: 1rem 0;
  
      .image-item {
          max-width: 100%;
          height: auto;
      }
  
  }
  
  .todo-block {
    background-color: #f7fafc;
    padding: 1rem;
    border-radius: 0.5rem;
  
    .todo-item .completed {
      text-decoration: line-through;
      color: #718096;
    }
  
  }
    
  .edit-input {
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #e2e8f0;
  outline: none;
    
    &-name{
      width: 100%;
      padding: 0.5rem;
      height: 30px;
      font-size: 18px;
      margin: 20px 0;
      border: none;
      border-bottom: 1px solid #e2e8f0;
      outline: none;
    }
    &-title{
      width: 100%;
      //padding: 0.5rem;
      //height: 30px;
      font-size: 24px;
      margin: 20px 0;
      border: none;
      border-bottom: 1px solid #e2e8f0;
      outline: none;
    }
    
  }
  
  .timestamp-info {
    font-size: 0.65rem;
    margin-top: 0.5rem;
    color: #718096;
    font-weight: lighter;
  }

  //BLOCK WRAPPER
  .block-wrapper {
    position: relative;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    margin: 1rem 0;
    &.onBlockEdit{
      height: 120px;
    }
  }
  
  .block-controls{ 
    position:absolute;
    right: 5px;
    top: 5px;
    display:flex;
    gap:2px
  }
  .control-btn {
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @media (hover: hover) {
      &:hover {
        background: #f5f5f5;
      }
    }
    &:active{
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
  .control-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }