//LAYER MANAGEMENT

//[Global]
.page-indicator {
    z-index: 900;
}
.dock-button{
    z-index: 900;
}

.header-container{
    z-index: 800;
}

.dropdown-menu {
    z-index: 800;
}

.loading-screen {
    z-index: 9999;
}
.modal-overlay{
    z-index: 1000;
}

//[MindSpace View/ Menu]
//MindSpace > Menu
.menu-overlay{
    z-index: 1000;
}

.rename-modal-overlay{
    z-index: 1001;
}

//[MindSpace View/ MindSpace]
//Shadow of the items
.icon-shadow-container{
    z-index: -1;  
}

//MindSpace > Edit Mode
.exit-edit-mode {
    z-index: 1000;
}
//MindSpace > Folder
.folder-overlay {
    z-index: 1000;
}
.folder-content {
    z-index: 1001;
}
//MindSpace > Add Item
.item-window-overlay{
    z-index: 1002;
}
.add-item-popup {
    z-index: 1003;
}

