//LAYER MANAGEMENT

//[Global]
.page-indicator {
    z-index: 800;
}

.sticky-nav{
    z-index: 998;
}

.header-container{
    z-index: 998;
}

.dropdown-menu {
    z-index: 1000;
}

.loading-screen {
    z-index: 9999;
}

//[Theme View]
//ThemeView > Create new modal
.theme-modal-overlay{
    z-index: 1000;
}

//[MindSpace View/ Menu]
//MindSpace > Menu
.menu-overlay{
    z-index: 1000;
}

.rename-modal-overlay{
    z-index: 1001;
}

//[MindSpace View/ MindSpace]
//MindSpace > Add Item
.item-window-overlay{
    z-index: 1001;
}
.add-item-popup {
    z-index: 1001;
}

//MindSpace > Edit Mode
.exit-edit-mode {
    z-index: 1001;
}

//MindSpace > Folder
.folder-content {
    z-index: 1000;
}
.folder-overlay {
    z-index: 999;
}

//Shadow of the items
.icon-shadow-container{
    z-index: -1;  
}